fastapi
uvicorn
langchain
langchain-google-genai
pydantic
langgraph
langchain_community
langchain-core
python-dotenv
streamlit
langsmith
requests
langchain-tavily
bs4
tavily-python
chromadb
pypdf
openpyxl
pandas  
python-multipart
langchain-chroma
beautifulsoup4
playwright